@import url('https://fonts.googleapis.com/css2?family=Asap:ital@0;1&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: black;
}

div{
    height: 33.33vh;
}

input[type = number]{
    width: 100%;
    height: 100%;
    background: black;
    color: white;
    font-size: 10em;
    text-align: center;
    border: 0;
    font-family: Asap;
    outline: none;
}

#fahrenheit{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

#kelvin{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

#celcius{
    border-top: 2px solid white;
    border-bottom: 2px solid white;
}

::placeholder{
    color: #222222;
}
